# Python â€“ The new generation Language
 

Python designed by Guido van Rossum at CWI has become a widely used general-purpose, high-level programming language.

Prerequisites:

Knowledge of any programming language can be a plus.

# Interpreter and Compiler

We generally write a computer program using a high-level language. A high-level language is one which is understandable by us humans. It contains words and phrases from the English (or other) language. But a computer does not understand high-level language. It only understands program written in 0's and 1's in binary, called the machine code. A program written in high-level language is called a source code. We need to convert the source code into machine code and this is accomplished by compilers and interpreters. Hence, a compiler or an interpreter is a program that converts program written in high-level language into machine code understood by the computer.

The difference between an interpreter and a compiler is given below:

![Interpeter](Untitled.jpg)

# Data Types
Data types are nothing but variables you use to reserve some space in memory. Python variables do not need an
explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a
variable.

In [ ]:
# JAVA or C++
int a =10 #java or c++
String s="python"
s=10 # error

In [95]:
a=101
print (a)
a="python"
print(a)
# shift+ enter

101
python

In [96]:
a=10.0  # float
print (a)

10.0

In [97]:
s="python"
print (s)

python

In [98]:
s=True
print (s)

True

In [99]:
s=False
print (s)
print(True)

False
True

In [ ]:
x=233
y=337
z=2
a=233798
b=88


Garbage collector
REFERENCE SCHEMENTICS

![Interpeter](Reference.jpg)

In [ ]:
import sys
print(sys.getrefcount(x))

#### Assignment Operator
It always works frol Right hand side to Left hand side

In [100]:
x=10
print(x)

10

In [101]:
a=10
a=a+10+30
print (a)

50

In [102]:
a=30
b=10
a=b+20+a+40
print(a)
print(a*10)

100
1000

In [103]:
a=b=c=10 
print(a)
print(b)
print(c)#shift + enter

10
10
10

## Type operator
It returnes the type of a variable

In [104]:
a=100
print(type(a))

<class 'int'>

In [105]:
j=10.00
print (type (j))

<class 'float'>

In [106]:
s="python"
print (type(s))

<class 'str'>

In [107]:
s1='pyth'
print (type(s1))

<class 'str'>

In [108]:
x= True
print (type(x))
y= False
print (type(y))

<class 'bool'>
<class 'bool'>

In [109]:
k='10'
print (type(k))
print (k)

<class 'str'>
10

In [110]:
a='a123'
type(a)

str

In [111]:
boo2= "False"
print (type(boo2))

<class 'str'>

In [112]:
s=123a
print(s)

SyntaxError: invalid syntax (<ipython-input-112-d27a2d210b80>, line 1)

### ID Operator
Returns the address of a variable

In [113]:
a=10
print (id(a))

140726194026560

In [114]:
b=10
print (id(b))

140726194026560

In [115]:
c=11
print (id(c))

140726194026592

In [116]:
k=10
print (id(k))

140726194026560

In [117]:
a=10
b=10.0
c=int(b)
print (id(a))
print (id(c))
print (id(b))

140726194026560
140726194026560
2665414213744

## IS Operator
Is operator-- If id is same for 2 variable it will return the true othewise false

In [118]:
a=10
print (id(a))
b=10
print (id(b))
print (a is b)

140726194026560
140726194026560
True

In [119]:
a=10
b=10.0
print (id(b))
print (a is int(b))

2665414215440
True

In [120]:
a=b
print (id(a))
print (id(b))

2665414215440
2665414215440

In [121]:
i=10
print (id(i))
j=11
print (id(j))
print (i is j)

140726194026560
140726194026592
False

In [122]:
l=10
k=10.0
m='10'
print (l is k)
print (l is m)

False
False

In [123]:
p="python"
q="Python"
r="python"
print (p is q)
print (p is r)

False
True

In [ ]:
import sys
s="python"
s1="python"
s3="python"
s4="python"
s5="python"
sys.getrefcount(s)

### == Operator
== operator - numeric values are same or not

In [124]:
i=10
j=10
print (i==j)

True

In [125]:
i=10
j=10.0
print ("Comparison operator ",i==j)
print ("IS operator", i is j)

Comparison operator  True
IS operator False

In [126]:
i=10
j=10.1
print (i==j)

False

In [127]:
i='10'
j=10
print (i==j)

False

In [128]:
s1="python"
s2="Python" # case sensitive
s3="Python" # case sensitive
print (s1 == s2)
print (s3 == s2)

False
True

### Swapping values of 2  Variable

a=40
b=50

after execution
a=50
b=40

In [ ]:
a=50
b=100
a=b
b=a
# b=a
print(a,b)

In [ ]:
a= 110 
b=50
c=a
d=b
b=c
a=d
print(a)
print(b)

In [ ]:
a=40
b=50
print(a=b)

##### Write a program to swap values of a and b
So after execution of program a should be 20
and b =10

In [129]:
a=10
b=20
c=a # c=10
a=b  # a=20
b=c  # b=10
print(a)
print(b)# this is to explain the swapping

20
10

In [ ]:
a=id(b)
a

With out using 3rd variable

In [ ]:
a=100
b=200
a=a+b    # a=100+200=300
b=a-b    # b=300-200=100
a=a-b    # a= 300-100=200
print("value of a :",a)
print("Value of b : ",b)

In [ ]:
print(xyx)
xyx=10

### Comma operator

In [130]:
print("python learning")

python learning

In [131]:
a=100
print("Value of a is  ",a)

Value of a is   100

In [132]:
a,b=10,200
print("value of a ",a)
print ("value of b ",b)

value of a  10
value of b  200

In [133]:
a,b,c=10,20,100
print("value of a ",a)
print ("value of b", b)
print ("value of c", c)

value of a  10
value of b 20
value of c 100

#### Swapping values again

In [134]:
a=10.0
b=33
a,b = b,a  # a,b = 33,10.0
print("value of a ",a)
print ("value of b", b)# ========

value of a  33
value of b 10.0

## Plus operator
![Interpeter](plusoperator.png)

In [135]:
print (10+20)

30

In [136]:
print (10+20.0)

30.0

In [137]:
print (10.0+20.0)

30.0

In [138]:
print ("Python"+" Scala")

Python Scala

In [139]:
print ("Python"+10)

TypeError: can only concatenate str (not "int") to str

In [140]:
print ("Python"+"10")

Python10

## Multiplication operator
![Interpeter](multiplication.png)

In [141]:
print (10*20)

200

In [142]:
print (10*20.0)

200.0

In [143]:
print (10.0*20.0)

200.0

In [144]:
print ("python "*5)

python python python python python

In [145]:
print (5*"python ")

python python python python python

In [146]:
print ('5'*"python")

TypeError: can't multiply sequence by non-int of type 'str'

### Modulus operator %
Gives the reminder
![Interpeter](01_Division.gif)

In [ ]:
# print (4%4)
5/4

In [147]:
5%4

1

In [148]:
10%3

1

In [149]:
3%10   # if dividend is smaller than divisor than dividend will be reminder

3

In [150]:
3333%1000000

3333

### Power **

In [151]:
a=10
b=3
print (a**b)

1000

In [152]:
print (2**3)

8

#### Absolute function
returns absolute value of a number( convert to positive value)
abs(x)

In [153]:
print( abs (+10-30))
print (abs (-10000))
print (abs(10)) 
print (abs(-10+30))

20
10000
10
20

### Formatted Output
* %d for integer
* %s for strings
* %r for raw
* %f for float

In [154]:
print ("python" + " scala")

python scala

In [155]:
st="python"
st1="java"
s="   "

In [156]:
print (st + "    " +st1)

python    java

In [157]:
print (st + st1)

pythonjava

In [158]:
st="python"
print ("Directory changed successfully " +st + " to the home directory")

Directory changed successfully python to the home directory

In [159]:
st="python"
st1="java"
print ("Directory changed successfully %s" %st1)
print ("Directory changed successfully %s" %st)

Directory changed successfully java
Directory changed successfully python

In [160]:
print ("Directory changed successfully to %s" %"java python")

Directory changed successfully to java python

In [161]:
s="learning"
print ("%s" %"java python")
print ("%s" %s)

java python
learning

In [162]:
st="python"
st1="java"
print ("Directory %s changed successfully to %s " %(st1,st))

Directory java changed successfully to python

In [163]:
print ("Directory changed %d successfully" %(100))

Directory changed 100 successfully

In [165]:
st=100
st1="java"
print ("Directory %d changed successfully %s " %(st,st1))
print ("Directory %d changed successfully %s ")
# print ("Directory %s changed successfully %s " %(st,st1))

Directory 100 changed successfully java
Directory %d changed successfully %s

In [166]:
print ("Directory changed %f successfully" % 100.000000)

Directory changed 100.000000 successfully

In [167]:
a=10.6 # sdfsdfsa
b=20
c=200
print ("a is  %s and b is %d" %(a,b))
print ("b is  %f and a is %d" %(b,a))

a is  10.6 and b is 20
b is  20.000000 and a is 10

In [168]:
months = "\nJan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"
print ("Here are the months: %s" % months)

Here are the months:
Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [169]:
months = "\nJan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"
print ("Here are the months: %r" % months)

Here are the months: '\nJan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug'

In [ ]:
VAL = "A"# 65
print("The ASCII value of '" + VAL + "' is", ord(VAL))

In [ ]:
val = "a"
print("The ASCII value of '" + val + "' is", ord(val))

In [ ]:
print (chr(65))
print (chr(97))

In [ ]:
print(bin(173) )

### Assignments
1. How a C program compiled
2. C program memory structure
3. How to swap 2 variables( apart from , and +/- operator)
4. Create GIT account

In [ ]:
print('"'"vfvf"'"')

In [ ]:
print("hello")

In [ ]:
# Start with 1, discard 2 and move to 3 and discard 4 and move to 5 discard 6 
# . Keep going on till 100 in a circular way until you left with 1 number at last
l=[1,2,3,4,5]
l2=l[::-1]
while len(l2)>1:
    del l2[len(l2)%2::2]
    print(l2)
print(l2)

# while

In [ ]:
import ctypes
my_var = 10
my_var1 = 10
my_var_address = id(my_var)
ctypes.c_long.from_address(my_var_address).value

In [ ]:
arr=[1,2,3,4,5]
s_arr=[]
while (s_arr.length==1):
    i=0
    while (i<arr.length):
        s_arr.push(arr[i])
        i+=2
        arr=s_arr.reverse
  s_arr=arr 
print(arr)

In [ ]:
arr=[1,2,3,4,5]
s_arr=[]
until s_arr.length == 1
  s_arr = []
  i=0
  while i < arr.length
    s_arr.push(arr[i])
    i+=2
  arr=s_arr.reverse
print (arr)

In [ ]:
arr=[1,2,3,4,5]
s_arr=[]
i=0
while i < len(arr):
    s_arr.append(arr[i])
    i+=2
print (s_arr)

In [ ]:
l=[1,2,3]
len(l)