# Lists:

You can use these when you need a collection of similar/non similar items. Suppose you are making a program that randomly picks a name from a hat. You could do something like this:

### in square brackets [ ]
### sequential- It has oredering and index 
index starts from 0
### mutable
### Contains any kind of data
Example of list <br>
list1=[1,2,3]<br>
listexample = [17, 123, "python", [1,2,3], 6.0]<br>

s="python"

In [87]:
list1=[1,2,3,3.0,'java']
listexample = [17, 123, "python", list1, 6.0]
listexample

[17, 123, 'python', [1, 2, 3, 3.0, 'java'], 6.0]

In [88]:
a=[]
type(a)

list

In [89]:
a=list()
print(type(a))
print(a)

<class 'list'>
[]

In [90]:
n = [17, 123, "python", "java", [1,2,3], 6.0]
print(n)

[17, 123, 'python', 'java', [1, 2, 3], 6.0]

In [91]:
len(n)

6

In [92]:
n[0]

17

In [93]:
n[4]

[1, 2, 3]

In [94]:
n[3][0]

'j'

In [95]:
n[4][1]

2

In [96]:
numbers = [715555, "123", "python", "java", [1,2,3], 6.0]
#            0        1     2          3       4      5

In [97]:
# numbers[1][0]
numbers[4][0]

1

In [98]:
numbers[0][0]
# iterable object

TypeError: 'int' object is not subscriptable

# Mutable
List is mutable object

In [99]:
s="python"
s[0]="q"
print(s)

TypeError: 'str' object does not support item assignment

In [100]:
numbers=[500, 123, 'python', 'java', ['javascript', 2, 3], 6.0]
numbers[0]=200
print(numbers)

[200, 123, 'python', 'java', ['javascript', 2, 3], 6.0]

In [101]:
numbers[2][0]="q"
numbers

TypeError: 'str' object does not support item assignment

In [102]:
numbers=[500, 123, 'python', 'java', ['javascript', 2, 3], 6.0]
numbers[2]="q"
numbers

[500, 123, 'q', 'java', ['javascript', 2, 3], 6.0]

In [103]:
numbers[4][0]="C++"
numbers

[500, 123, 'q', 'java', ['C++', 2, 3], 6.0]

In [104]:
numbers=[200, 123, 'python', 'java', ['q', 2, 3], 6.0]

In [105]:
l1=[1,2,3]
l2=l1.copy()
l2

[1, 2, 3]

In [106]:
l1 is l2

False

In [107]:
l1==l2

True

In [108]:
list1=[45,89,0]
list2=list1
# print(list2)
print(list2)
print(list1)

[45, 89, 0]
[45, 89, 0]

In [109]:
print(list1 is list2)

True

In [110]:
list1==list2

True

In [ ]:
list1[0]=4
print(list2)

In [ ]:
dir(list)

In [ ]:
help(list)

### Append
It adds the element at the end of a list

In [111]:
numbers = [17, "java", [1,2,3]]
numbers.append("python")
print(numbers)

[17, 'java', [1, 2, 3], 'python']

In [112]:
numbers.append([0,1,2])
numbers

[17, 'java', [1, 2, 3], 'python', [0, 1, 2]]

In [113]:
numbers.append(1)
numbers

[17, 'java', [1, 2, 3], 'python', [0, 1, 2], 1]

### Extend
It adds at the end , but only iterable objects...
It seprateout the iterable object in the individual element and than it will add.

In [114]:
numbers = [17, "java", [1,2,3]]
numbers.extend("Python")
numbers

[17, 'java', [1, 2, 3], 'P', 'y', 't', 'h', 'o', 'n']

In [115]:
numbers.extend([100,101,102])
numbers

[17, 'java', [1, 2, 3], 'P', 'y', 't', 'h', 'o', 'n', 100, 101, 102]

In [ ]:
numbers

In [116]:
numbers.extend(100)
numbers

TypeError: 'int' object is not iterable

In [117]:
numbers.extend("a")
numbers

[17, 'java', [1, 2, 3], 'P', 'y', 't', 'h', 'o', 'n', 100, 101, 102, 'a']

In [118]:
numbers.extend("123")
numbers

[17,
 'java',
 [1, 2, 3],
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 100,
 101,
 102,
 'a',
 '1',
 '2',
 '3']

# Pop- Removes and returns, so that we are not loosing that value

In [120]:
list1=[0,1898,100,2,3,"python","jaava"]

In [121]:
x=list1.pop() # remove last element  of list if we do not mention index
print(" The popped element x is : ",x)
print (" After Pop the changed the list is ",list1)

 The popped element x is :  jaava
 After Pop the changed the list is  [0, 1898, 100, 2, 3, 'python']

In [122]:
list1=[0,1898,100,2,3,"python","scala"]
x=list1.pop()
print(list1)
print(x)

[0, 1898, 100, 2, 3, 'python']
scala

In [123]:
list1=[0,1898,100,2,3,"python","jaava"]

In [124]:
x=list1.pop(1)
print(" The popped element is : ",x)
print (" After Pop the changed the list is ",list1)

 The popped element is :  1898
 After Pop the changed the list is  [0, 100, 2, 3, 'python', 'jaava']

In [ ]:
list1

In [125]:
a=[100,1,200,2,3,"python","jaava",[1,2],"python"]
a.remove("python")
print (" After remove the changed the list is ",a)

 After remove the changed the list is  [100, 1, 200, 2, 3, 'jaava', [1, 2], 'python']

In [126]:
a.remove([1,2])
a

[100, 1, 200, 2, 3, 'jaava', 'python']

In [127]:
a=[0,1,0,2,3,"python","jaava",[1,2,3]]
a.reverse()
print(a)

[[1, 2, 3], 'jaava', 'python', 3, 2, 0, 1, 0]

In [ ]:
How to reverse a string??
s[::-1]

# Sorting ( Ascending order)

# number < capital letter < small letter

In [128]:
a=["Python","1python"]
a.sort()
a

['1python', 'Python']

In [129]:
a=['scala',"jaava", 'python']
a.sort()
a

['jaava', 'python', 'scala']

In [130]:
a=['scala','jaava','@123ab', 'Python','Java']
a.sort()
a

['@123ab', 'Java', 'Python', 'jaava', 'scala']

In [131]:
a=['scala','jaava',123, 'Python']
a.sort()
a

TypeError: '<' not supported between instances of 'int' and 'str'

In [132]:
a=[100,23, 500]
a.sort()
a

[23, 100, 500]

In [133]:
a=[100,23, 500]
a.sort(reverse=True)
a
# a    L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*

[500, 100, 23]

# string --> list
# list----> string

# split
# join

In [ ]:
s="python"
list1= ['p', 'y', 't', 'h' ,'o' ,'n']

In [136]:
l=['1','2','4']#'124'
''.join(l)

'124'

In [134]:
l=['1','2','4']#'124'
' '.join(l)

'1 2 4'

In [135]:
list1= ['p', 'y', 't', 'h' ,'o' ,'n']
s='**'.join(list1)
s

'p**y**t**h**o**n'

In [137]:
'$$$'.join(list1)

'p$$$y$$$t$$$h$$$o$$$n'

In [138]:
list1= ['p', 'y', 't', 'h' ,'o' ,'n',66]
'**'.join(list1)

TypeError: sequence item 6: expected str instance, int found

In [139]:
a=["python","jaava","scala"]
''.join(a)

'pythonjaavascala'

In [140]:
' '.join(a)

'python jaava scala'

In [141]:
s='$$*'.join(a)
print(s)

python$$*jaava$$*scala

In [142]:
print(' : '.join(a))

python : jaava : scala

In [143]:
s = "python : jaava : scala"
l=s.split(' : ')
print(l)

['python', 'jaava', 'scala']

In [144]:
s = "python : jaava : scala"
l=s.split(' ')
l

['python', ':', 'jaava', ':', 'scala']

In [147]:
s= 'python$$*jaava$$*scala'
# print(s.split('$$*'))
print(s.split('$'))

['python', '', '*jaava', '', '*scala']

In [146]:
s1= '123'
print(s1.split('2'))

['1', '3']

In [148]:
list1=["javascript","java","python", "scala",'1']
list1[0:3]

['javascript', 'java', 'python']

In [149]:
list1[:4]

['javascript', 'java', 'python', 'scala']

In [150]:
list1[::-1]

['1', 'scala', 'python', 'java', 'javascript']

In [151]:
lis = [2, 1, 3, 5, 4]
# using min() to print minimum element of list
# print ("The minimum element of list is : ", end="")
print (min(lis))

1

In [152]:
lis = [2, 1, 3, 5, 4.0, "abc"]
min(lis)

TypeError: '<' not supported between instances of 'str' and 'int'

In [153]:
lis = [2, 1, 3, 5, 4.0]
max(lis)

5

In [154]:
lis = [2, 1, 3, 5, 4.0]
sum(lis)

15.0

In [155]:
lis = ['2', '1','3']
max(lis)

'3'

In [156]:
lis = ['a', 'b','c','A']
max(lis)

'c'

In [157]:
# number < capital letter < small letter
lis = ['2', '1','3',"abc",'A']
# lis.sort()
# print(lis)
# print(lis)
# print(a)
print(max(lis))

abc

In [158]:
min(lis)

'1'

In [ ]:
lis = [2, 1,3.8]
# lis = ['abc', 'def','ghi']
sum(lis)

In [159]:
list_data = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1,"python","python"]
list_data.index("python")
# len(list_data)

10

In [160]:
lis = [1, '4', 3, 2, 5]
'4' in lis

True

In [161]:
4 not in lis

True

In [162]:
"p" in "python"

True

In [163]:
"r" in "python"

False

Any sequence (or iterable) can be unpacked into variables using a simple assignment
operation. The only requirement is that the number of variables and structure match
the sequence.

In [164]:
data = [ 'ACME', 50, 91.1,2012]
name, shares, price, date = data
print(name)
print(shares)
print(price)

ACME
50
91.1

In [165]:
a,b,c="pyt"
print(a)
print(b)
print(c)

p
y
t

In [ ]:
data = [ 'ACME', 50, 91.1,2012]
a,b=data

# Assignment  
* For a list ["foo", "bar", "baz"] add an item in the list "bar",
 what's the cleanest way to get its index (1) in Python?
* Best way to check if a list is empty
* Getting the last element of a list in Python
* How to clone or copy a list?
* How can I count the occurrences of a list item in Python?
* How do I remove the first Item from a Python list?
* Write a program to create a buffer of length 5

In [ ]:
help('modules')

In [ ]:
vlans1=['!command:', '!Time','version....','valanc....','....','valna 130', 'name AHKZMI' , 'mode fabricapath' ]
vlans2=['!command:', '!Time','version....','valanc....','....','valna 130', 'name AHKZMI' , 'mode fabricapath' ]

for x in vlans1 :
    if vlans1[x]==vlans2[x]:
        print ("its matching")
    else:
        print (vlans1[x] + 'and' +'vlans2[x]'+ " is not matching ")
        break

In [ ]:
vlans1=[' sh run vlan 159\r', '', '!Command: show running-config vlan 159', '!Time: Sat Jul  7 00:40:22 2018', '', 'version 7.1(4)N1(1c)', 'vlan configuration 159', '', '\rKC1DD10-RED#']
vlans2=[' sh run vlan 159\r', '', '!Command: show running-config vlan 159', '!Time: Sat Jul  7 00:40:25 2018', '', 'version 7.1(4)N1(1c)', 'vlan configuration 159', 'vlan 159', '  name MCVHVA_RAC', '  mode fabricpath', '', '\rKC1DD10-BLUE#']


common_elements=[]
for i in list(itertools.product(a,b)):
    if i[0] == i[1]:
        common_elements.append(i[0])
print (common_elenents)
        
        
        
# def vlan_comp(switch,switch2):
#     print ("I am in side compare function")
# #     print (switch)
# #     print(switch2)
#     missing = []
# #     for x in switch:
# #         print (x)
#     for x in range(len(switch)-1):
#         match = False
        
#         if switch[x] == switch2[x]:
#                 match = True
#         if match == False:
#             missing.append(switch[x] +"is not matching with "+ switch2[x])
#     return missing


# result1 = vlan_comp(vlans2,vlans1)
# result2 = vlan_comp(vlans1,vlans2)
# # print "switch1 : " ,switch1
# # print "switch1 : " ,switch1

In [ ]:
a=[' sh run vlan 159\r', '', '!Command: show running-config vlan 159', '!Time: Sat Jul  7 00:40:22 2018', '', 'version 7.1(4)N1(1c)', 'vlan configuration 159', '', '\rKC1DD10-RED#']
b=[' sh run vlan 159\r', '', '!Command: show running-config vlan 159', '!Time: Sat Jul  7 00:40:25 2018', '', 'version 7.1(4)N1(1c)', 'vlan configuration 159', 'vlan 159', '  name MCVHVA_RAC', '  mode fabricpath', '', '\rKC1DD10-BLUE#']

def returnNotMatches(a, b):
    a = set(a)
    b = set(b)
    return list(b - a)


switch name is 
l=returnNotMatches(a, b)
print( "-----------the configuration differene from a to b is------- ")
print ('\n'.join(l))
l2= returnNotMatches(b, a)
print( "--------------the configuration differene from b to a is--------- ")
print ('\n'.join(l2))

In [ ]:
l =["banana","apple"]
l[-2]

In [ ]:
l=[]
type(l)
l=

In [ ]:
l=[1,2]
type(l)

In [ ]:
l=list()
type(l)