In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
len(keyword.kwlist)

35

# Python is a case sensitive language

## There are the reserved words.The only reserved words contains capitalize words are True,False,None

## Remaining 32 keywords represent some functionality

In [8]:
True,False,None ## Reserved literals can assign to variables

(True, False, None)

In [9]:
a=True
b=False
c=None

In [10]:
a,b,c

(True, False, None)

In [12]:
x=if # functionality key words can not be assigned to a variable

SyntaxError: invalid syntax (<ipython-input-12-863438f6de07>, line 1)

In [17]:
x = "if" # valid because it is a charector

In [18]:
x = 10
if x == 10:
    print("x is 10")
else:
    print("x is not 10")

x is 10

In [21]:
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

### Data Types

#### Data type represents the type of data represented in a variable

### int,float,complex,str,bool

In [22]:
x = 20

In [23]:
type(x)

int

In [24]:
id(x)

140732665637248

In [25]:
b = 0B1111

In [26]:
b

15

In [27]:
a = 1111
a

1111

In [29]:
type(b)

int

In [30]:
f = 0O123

In [31]:
f

83

In [32]:
f = 0X123face

In [33]:
f

19135182

decimal
binary
octal
hexadecimal

In [45]:
bin(10)

'0b1010'

In [46]:
oct(55)

'0o67'

In [47]:
hex(587)

'0x24b'

In [48]:
bin(0x67)

'0b1100111'

In [49]:
bin(0o4675)

'0b100110111101'

In [50]:
oct(0x57876)

'0o1274166'

In [51]:
oct(10)

'0o12'

In [52]:
hex(10)

'0xa'

In [53]:
bin(10)

'0b1010'

In [54]:
f = 1.2e3 # 1.2*1000 = 1200.0

In [55]:
f

1200.0

In [56]:
g = 1.3E4

In [57]:
g

13000.0

In [58]:
a = 10+20.5j

In [59]:
a.real

10.0

In [60]:
a.imag

20.5

In [61]:
ab = '''my name is 'ovukhvecv' i am from "ahdvycyiahvk"'''

In [62]:
ab

'my name is \'ovukhvecv\' i am from "ahdvycyiahvk"'

In [63]:
k = 'train'

In [65]:
k[2]

'a'

In [66]:
k[10]

IndexError: string index out of range

#list = ordered colection of heterogeneous datatypes(objects) duplicates are allowed,indexing and slicing are applicable.
#set = unordered collection of heterogeneous datatypes(objects) duplicates are not allowed, indexing and slicing are not applicable.
#tuple = similar to list but immutable.
#dictionary = {"key" : value} pair.

In [4]:
t = ()
print(type(t))

<class 'tuple'>

In [5]:
tt = (10)
print(type(tt))

<class 'int'>

In [6]:
ttt = (20,)
print(type(ttt))

<class 'tuple'>

In [7]:
t = 10,20,30,40

In [8]:
t

(10, 20, 30, 40)

In [9]:
type(t)

tuple

In [10]:
g = 10
print(type(g))

<class 'int'>

In [11]:
h = 10,

In [12]:
type(h)

tuple

In [1]:
ord('a')

97

In [2]:
a = 'prithvi'
b = 'saa'

In [3]:
a>b

False

In [4]:
a<b

True

In [5]:
chr(99)

'c'

In [6]:
ord('c')

99

In [7]:
chr(299)

'ī'

In [8]:
chr(100)

'd'

In [9]:
chr(45)

'-'

In [10]:
ord('.')

46

# PROBLEM WELL DEFINED IS HALF (THE PROBLEM) SOLVED

In [13]:
num = [10,20,30,40,50]
for n in num:
    if n >=50:
        print("skip the num >=50")
        continue
    print(n)

10
20
30
40
skip the num >=50

In [15]:
cart = [30,40,50,50,60,70,50,80,90,50,60]
for items in cart:
    if items == 50:
        print("skip cart item 50 from the list")
        continue
    print(items)

30
40
skip cart item 50 from the list
skip cart item 50 from the list
60
70
skip cart item 50 from the list
80
90
skip cart item 50 from the list
60

In [14]:
for n in num:
    if n == 30:
        print("Get out of the loop if n is 30")
        break
    print(n)

10
20
Get out of the loop if n is 30

In [8]:
values = [10,20,0,5,0,30]
for num in values:
    if num == 0:
        print("we can not divide with zero: zero division error")
        continue
    print('100/{} = {}'.format(num,100/num))

100/10 = 10.0
100/20 = 5.0
we can not divide with zero: zero division error
100/5 = 20.0
we can not divide with zero: zero division error
100/30 = 3.3333333333333335

In [19]:
checkout = [10,20,30,40,50,60]
for items in checkout:
    if items >= 500:
        print('cannot execute items more than equals to 500')
        break
    print("The EXECUTABLE items are:",items)
else:
    print("All the items executed")

The EXECUTABLE items are: 10
The EXECUTABLE items are: 20
The EXECUTABLE items are: 30
The EXECUTABLE items are: 40
The EXECUTABLE items are: 50
The EXECUTABLE items are: 60
All the items executed

In [20]:
checkout1 = [10,20,30,40,700,50,60]
for items in checkout1:
    if items >= 500:
        print("Items above 500 are not executable")
        break
    print("The EXECUTABLE items are :",items)
else:
    print("All the items executed")

The EXECUTABLE items are : 10
The EXECUTABLE items are : 20
The EXECUTABLE items are : 30
The EXECUTABLE items are : 40
Items above 500 are not executable

In [21]:
checkout = [10,20,30,40,50,60]
for items in checkout:
    if items >= 500:
        print('cannot execute items more than equals to 500')
        break
    print("The EXECUTABLE items are:",items)
else:
    print("All the items executed")
    print("All the items executed")
    print("All the items executed")
    print("All the items executed")

The EXECUTABLE items are: 10
The EXECUTABLE items are: 20
The EXECUTABLE items are: 30
The EXECUTABLE items are: 40
The EXECUTABLE items are: 50
The EXECUTABLE items are: 60
All the items executed
All the items executed
All the items executed
All the items executed

In [22]:
checkout1 = [10,20,30,40,700,50,60]
for items in checkout1:
    if items >= 500:
        print("Items above 500 are not executable")
        continue
    print("The EXECUTABLE items are :",items)
else:
    print("All the items executed")

The EXECUTABLE items are : 10
The EXECUTABLE items are : 20
The EXECUTABLE items are : 30
The EXECUTABLE items are : 40
Items above 500 are not executable
The EXECUTABLE items are : 50
The EXECUTABLE items are : 60
All the items executed

In [23]:
checkout = [10,20,30,40,50,60]
for items in checkout:
    if items >= 500:
        print('cannot execute items more than equals to 500')
        continue
    print("The EXECUTABLE items are:",items)
else:
    print("All the items executed")

The EXECUTABLE items are: 10
The EXECUTABLE items are: 20
The EXECUTABLE items are: 30
The EXECUTABLE items are: 40
The EXECUTABLE items are: 50
The EXECUTABLE items are: 60
All the items executed

In [26]:
if 10<20:
    print("10<20")
else:
    pass

10<20

In [29]:
if 10==20:
    print("10<20")
else:
    pass

In [1]:
l = []
for i in range(0,101):
    if i%10 == 0:
        l.append(i)
print(l)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [3]:
order1 = ["chicken","mutton","fish"]
order2 = ["kf","rc","tc"]
for x in order2:
    order1.append(x)
print(order1)

['chicken', 'mutton', 'fish', 'kf', 'rc', 'tc']

In [5]:
a1 = ["chicken","mutton","fish"]
a2 = ["kf","rc","tc"]
a1.extend(a2)

In [6]:
a1

['chicken', 'mutton', 'fish', 'kf', 'rc', 'tc']

In [8]:
l = [10,20,30,40,20,10]
l.remove(10)
print(l)

[20, 30, 40, 20, 10]

In [9]:
l.remove(20)
print(l)

[30, 40, 20, 10]

In [10]:
l

[30, 40, 20, 10]

In [14]:
l1 = [10,20,30,40]
try:
    l1.remove(50)
except ValueError:
    print("Element is not present in the list")

Element is not present in the list

In [24]:
l2 = [10,20,30,40,50,60,70,80,90]
x = int(input("Enter a number to remove: "))
if x in l2:
    l2.remove(x)
else:
    print("number is not present in the list l2")
print(l2)

Enter a number to remove: 110
number is not present in the list l2
[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [25]:
l3 = [10,20,30,40,10,10,10,30,10]
x = int(input("Enter a Number: "))
while x in l3:
    l3.remove(x)
print(l3)

Enter a Number: 10
[20, 30, 40, 30]

In [26]:
a = [1,2,3,4,5]
b = a[:]

In [27]:
a

[1, 2, 3, 4, 5]

In [28]:
b

[1, 2, 3, 4, 5]

In [30]:
print(id(a))
print(id(b))

2849953986432
2849986221056

In [31]:
x = [[10,20,30],[40,50,60],[70,80,90]]
for rows in x:
    for elements in rows:
        print(elements,end=" ")
    print()

10 20 30
40 50 60
70 80 90

In [32]:
x = [[10,20,30],[40,50,60],[70,80,90]]
for i in x:
    print(i)

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

In [33]:
l = [x for x in range(10)]

In [34]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
z = [x*x for x in range(10)]

In [36]:
z

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
x = [x+1 for x in range(10)]

In [39]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
x = [x+1 for x in range(100)]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [41]:
x = [x*x*x for x in range(1,101) if x*x*x%2 == 0]
print(x)

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000, 32768, 39304, 46656, 54872, 64000, 74088, 85184, 97336, 110592, 125000, 140608, 157464, 175616, 195112, 216000, 238328, 262144, 287496, 314432, 343000, 373248, 405224, 438976, 474552, 512000, 551368, 592704, 636056, 681472, 729000, 778688, 830584, 884736, 941192, 1000000]

In [3]:
li = ["balayya","nagarjuna","venkatesh","chiranjeevi"]
x = [word[0] for word in li]
print(x)

['b', 'n', 'v', 'c']

In [4]:
num1 = [10,20,30,40]
num2 = [30,40,50,60]
num3 = []
for n in num1:
    if n not in num2:
        num3.append(n)
print(num3)

[10, 20]

In [5]:
num3 = [n for n in num1 if n not in num2]
print(num3)

[10, 20]

In [7]:
num1 = [10,20,30,40]
num2 = [30,40,50,60]
num3 = []
for n in num1:
    if n in num2:
        num3.append(n)
print(num3)

[30, 40]

In [8]:
num3 = [n for n in num1 if n in num2]
print(num3)

[30, 40]

In [1]:
s = "THE QUICK BROWN FOX JUMPS ON A LAZY DOG"
words = s.split()

In [2]:
words

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'ON', 'A', 'LAZY', 'DOG']

In [3]:
l = []
for word in words:
    l.append([word,len(word)])
print(l)

[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOX', 3], ['JUMPS', 5], ['ON', 2], ['A', 1], ['LAZY', 4], ['DOG', 3]]

In [5]:
x = [[word.lower(),len(word)] for word in words]
print(x)

[['the', 3], ['quick', 5], ['brown', 5], ['fox', 3], ['jumps', 5], ['on', 2], ['a', 1], ['lazy', 4], ['dog', 3]]

In [6]:
y = [[word.title(),len(word)] for word in words]
print(y)

[['The', 3], ['Quick', 5], ['Brown', 5], ['Fox', 3], ['Jumps', 5], ['On', 2], ['A', 1], ['Lazy', 4], ['Dog', 3]]

In [8]:
sentence = input("Enter a sentence or a word")
vowels = ['a','e','i','o','u']
found = []
for v in vowels:
    if v in sentence:
        found.append(v)
print(found)

Enter a sentence or a wordprithvi
['i']

In [11]:
sentence = input("Enter a sentence or a word")
a = [v for v in vowels if v in sentence]
print(a)

Enter a sentence or a wordmississipi
['i']

In [1]:
t1 = (20,30,40)
t2 = (50,60,70)
print(type(t1))
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [2]:
t3 = t1+t2
print(t3)

(20, 30, 40, 50, 60, 70)

In [3]:
type(t3)

tuple

In [7]:
t4 = t3*4
print(t4)

(20, 30, 40, 50, 60, 70, 20, 30, 40, 50, 60, 70, 20, 30, 40, 50, 60, 70, 20, 30, 40, 50, 60, 70)

In [8]:
type(t4)

tuple

In [12]:
t = [2,4,5,6,8,9,0,5,4,3,4]

In [13]:
a,b,*c=t

In [14]:
a

2

In [15]:
b

4

In [16]:
c

[5, 6, 8, 9, 0, 5, 4, 3, 4]

In [1]:
supermarket = {
                "store1":{
                    "Name":"Reliance Fresh",
                    "Items":[
                        {"Name":"Park Avenue","Quantity":20},
                        {"Name":"Santoor","Quantity":15},
                        {"Name":"Lux","Quantity":25}
                        
                            ]
                         },
               "store2":{
                    "Name":"D_Mart",
                    "Items":[
                        {"Name":"Lays","Quantity":5},
                        {"Name":"Oreo","Quantity":10},
                        {"Name":"Haldirams","Quantity":5}
                            ]
                        },
                "store3":{
                    "Name":"Engineering College",
                    "Items":[
                        {"Name":"CSE","Duration":"4years"},
                        {"Name":"ECE","Duration":"4years"},
                        {"Name":"IT","Duration":"4years"}
                            ]
                         }
                        
              }

In [2]:
supermarket

{'store1': {'Name': 'Reliance Fresh',
  'Items': [{'Name': 'Park Avenue', 'Quantity': 20},
   {'Name': 'Santoor', 'Quantity': 15},
   {'Name': 'Lux', 'Quantity': 25}]},
 'store2': {'Name': 'D_Mart',
  'Items': [{'Name': 'Lays', 'Quantity': 5},
   {'Name': 'Oreo', 'Quantity': 10},
   {'Name': 'Haldirams', 'Quantity': 5}]},
 'store3': {'Name': 'Engineering College',
  'Items': [{'Name': 'CSE', 'Duration': '4years'},
   {'Name': 'ECE', 'Duration': '4years'},
   {'Name': 'IT', 'Duration': '4years'}]}}

In [3]:
supermarket["store1"]

{'Name': 'Reliance Fresh',
 'Items': [{'Name': 'Park Avenue', 'Quantity': 20},
  {'Name': 'Santoor', 'Quantity': 15},
  {'Name': 'Lux', 'Quantity': 25}]}

In [4]:
supermarket["store1"]["Name"]

'Reliance Fresh'

In [5]:
for d in supermarket["store1"]["Items"]:
    print(d["Name"])

Park Avenue
Santoor
Lux

In [7]:
for item in supermarket["store1"]["Items"]:
    if item["Name"] == "Park Avenue":
        print(item["Quantity"])

20