Install the sqlite3
SQLite browser can be installed from https://sqlitebrowser.org/blog/portableapp-for-3-11-2-release-now-available/

In [1]:
import sqlite3
# print (SELECT SQLITE_VERSION())

print (dir(sqlite3))
conn = sqlite3.connect('test.db')# db location is in curretn directory only
print ("Opened database successfully")

['Binary', 'Cache', 'Connection', 'Cursor', 'DataError', 'DatabaseError', 'Date', 'DateFromTicks', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'OptimizedUnicode', 'PARSE_COLNAMES', 'PARSE_DECLTYPES', 'PrepareProtocol', 'ProgrammingError', 'Row', 'SQLITE_ALTER_TABLE', 'SQLITE_ANALYZE', 'SQLITE_ATTACH', 'SQLITE_CREATE_INDEX', 'SQLITE_CREATE_TABLE', 'SQLITE_CREATE_TEMP_INDEX', 'SQLITE_CREATE_TEMP_TABLE', 'SQLITE_CREATE_TEMP_TRIGGER', 'SQLITE_CREATE_TEMP_VIEW', 'SQLITE_CREATE_TRIGGER', 'SQLITE_CREATE_VIEW', 'SQLITE_CREATE_VTABLE', 'SQLITE_DELETE', 'SQLITE_DENY', 'SQLITE_DETACH', 'SQLITE_DONE', 'SQLITE_DROP_INDEX', 'SQLITE_DROP_TABLE', 'SQLITE_DROP_TEMP_INDEX', 'SQLITE_DROP_TEMP_TABLE', 'SQLITE_DROP_TEMP_TRIGGER', 'SQLITE_DROP_TEMP_VIEW', 'SQLITE_DROP_TRIGGER', 'SQLITE_DROP_VIEW', 'SQLITE_DROP_VTABLE', 'SQLITE_FUNCTION', 'SQLITE_IGNORE', 'SQLITE_INSERT', 'SQLITE_OK', 'SQLITE_PRAGMA', 'SQLITE_READ', 'SQLITE_RECURSIVE', 'SQLITE_REINDEX', 'SQLITE_SAVEPOINT', 'SQLITE_SELECT', 'SQLITE_TRANSACTION', 'SQLITE_UPDATE', 'Statement', 'Time', 'TimeFromTicks', 'Timestamp', 'TimestampFromTicks', 'Warning', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'adapt', 'adapters', 'apilevel', 'collections', 'complete_statement', 'connect', 'converters', 'datetime', 'dbapi2', 'enable_callback_tracebacks', 'enable_shared_cache', 'paramstyle', 'register_adapter', 'register_converter', 'sqlite_version', 'sqlite_version_info', 'threadsafety', 'time', 'version', 'version_info']
Opened database successfully

In [3]:
print (type(conn))
conn = sqlite3.connect('my_database233231.db')

# print dir(conn)
conn.execute('''CREATE TABLE COMPANY0022
            (ID INT PRIMARY KEY     NOT NULL,
            NAME           TEXT    NOT NULL,
            AGE            INT     NOT NULL,
            ADDRESS        CHAR(50),
            SALARY         REAL);''')

<class 'sqlite3.Connection'>

In [4]:
# conn.execute("CREATE TABLE COMPANY56\
#          (ID INT PRIMARY KEY     NOT NULL,\
#          NAME           TEXT    NOT NULL,\
#          AGE            INT     NOT NULL,\
#          ADDRESS        CHAR(50),\
#          SALARY         REAL)");


# print "Table created successfully";
# conn.execute("INSERT INTO COMPANY0022 (ID,NAME,AGE,ADDRESS,SALARY) \
#        VALUES (1, 'Paul', 32, 'California', 20000.00 )");
# conn.close()

The DB-API spec requires that connecting to the database begins a new transaction, by default. You must commit to confirm any changes you make, or rollback to discard them.

In [ ]:
import sqlite3

conn = sqlite3.connect('my_database1.db',)
print "Opened database successfully";
print dir(conn)
conn.execute("INSERT INTO COMPANY56 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (14, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY56 (ID,NAME,AGE,ADDRESS,SALARY) \
     VALUES (5, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY56 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (6, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY56 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (7, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
# print "Records created successfully";
conn.close()

In [5]:

# import sqlite3

# conn = sqlite3.connect('my_database1.db')
# print "Opened database successfully";

# cursor = conn.execute("SELECT id, name, address, salary from COMPANY56")
# # # print type(cursor)
# for a in cursor:
#    print a
#    print "ID = ", a[0]
#    print "NAME = ", a[1]
#    print "ADDRESS = ", a[2]
#    print "SALARY = ", a[3], "\n"

# print "Operation done successfully";
# conn.close()

In [6]:
# import sqlite3

# conn = sqlite3.connect('my_database1.db')
# print "Opened database successfully";

# conn.execute("DELETE from COMPANY56 where ID = 6;")
# conn.commit()
# print "Total number of rows deleted :", conn.total_changes

# cursor = conn.execute("SELECT id, name, address, salary from COMPANY56")
# for row in cursor:
#    print "ID = ", row[0]
#    print "NAME = ", row[1]
#    print "ADDRESS = ", row[2]
#    print "SALARY = ", row[3], "\n"

# print "Operation done successfully";
# conn.close()

In [7]:
# for oracle
# sudo apt-get install cx_Oracle
# pip install cx_Oracle
# import cx_Oracle
# print dir(cx_Oracle)
# ip = '192.168.0.1'
# port = 1521
# SID = 'YOURSIDHERE'
# dsn_tns = cx_Oracle.makedsn(ip, port, SID)
# db = cx_Oracle.connect('username', 'password', dsn_tns)
# connstr = 'usrname/password@server_IP:1521/orcl'

# con = cx_Oracle.connect('pythonhol/welcome@127.0.0.1/orcl')
# print con.version
# con.close()
#  
# cnx = mysql.connector.connect(user='joe', database='test')
# cnx = MySQLConnection(user='joe', database='test')

In [8]:
# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   passwd="root123"
# )

# print(mydb)#

In [ ]:
# create a database named "mydatabase":
# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   passwd="root123"
# )

# # print(mydb)# 
# mycursor = mydb.cursor()
# mycursor.execute("CREATE DATABASE mydatabase")